html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(0, 119, 197);
}

a:hover {
    text-decoration: underline;
}

section {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: rgb(236, 238, 241);
}

header {
    padding: 10px 30px;
    display: none;
}

header div {
    justify-self: right;
    height: 36px;
    width: 296px;
    display: flex;
    justify-content: right;
    font-family: sans-serif;
    font-size: 12px;
    text-decoration: none;
}

header div div {
    display: grid;
}

header div button {
    background-color: #0077C5;
    height: 34px;
    min-width: 104px;
    margin-left: 10px;
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    color: white;
    text-align: center;

    cursor: pointer;
}


/* Main */

main {
    grid-row: 1/ 3;
    display: grid;

}

main div {
    background-color: azure;
}

.lock-left-grey{
    background: url(https://accounts.intuit.com/IUS-Plugins/v2/images/lock-left-grey@3x.png)0 50%/21px 21px no-repeat;
    width: 33px;
}
.white-lock{
    background-image: url(https://accounts.intuit.com/images/v2/icon-whitelock@3x.png?v=1.50.1.03);
}

fieldset{
    justify-content: center;
    
}
fieldset div{
    display: block;
    margin: 0;
    

}
fieldset label{
    box-sizing: border-box;
    color: rgb(64, 64, 64);
    display: block;
    font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin: 0px;
    outline-color: rgb(64,64,64);
    outline-style: none;
    padding-bottom:6px;
    padding: 0px;
    text-align: left;


}
fieldset div input{
    background-color: rgb(255,255,255);
    border-bottom-color: rgb(193,197,200);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    padding: 8px 14px;
    box-shadow: 0;
}
#std{
    display: flex;
    color: gray;
}

.grid label input{
    display: inline;
    padding: 8px 12px;
}

footer {
    color: rgb(80, 80, 80);
    margin: 0 30px;
    padding: 20px 0;
    text-align: center;
    font-family: 'Dejavu Sans';
    font-size: 12px;
    line-height: 1.5;

}

footer a {
    color: inherit;
}


/* media query */
@media screen and (min-width: 465px) {
    main {
        grid-template-columns: 1fr 380px 1fr;
    }

    main div {
        grid-column: 2;
    }
}


@media screen and (min-width: 765px) {
    header {
        display: grid;
    }

    main {
        grid-row: auto;
    }
}